@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #201606, #000000);
  height: 100vh;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  width: 12px; 
  height: 12px;
  background-color: white; 
  border-radius: 50%;
  cursor: pointer; 
}

input[type="range"]::-moz-range-thumb {
  width: 12px; 
  height: 12px;
  background-color: white; 
  border-radius: 50%;
  cursor: pointer; 
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* scrollbar for home feature section*/

.thinScrollbar::-webkit-scrollbar {
  width: 4px !important;
}
.thinScrollbar::-webkit-scrollbar-thumb {
  background: #e3e9f4 !important;
  border-radius: 20px;
}

.midScrollbar::-webkit-scrollbar {
  width: 6px !important;
}
.midScrollbar::-webkit-scrollbar-thumb {
  background: #e5eaf4 !important;
  border-radius: 20px;
}

.hide-scroll-bar {
  -ms-overflow-style: none; /* for Internet Explorer/Edge */
  scrollbar-width: none; /* for Firefox */
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

